button:focus {outline:0;}
input:focus {outline:0;}
button:hover {cursor: pointer;}

.input__button {
  width: 50px;
  padding: 5; 
  border: 1px solid gray; 
  background-color: gray;
  color: #DDDDDD;
}

.task__delete {
  border: 1px solid gray; 
  background-color: #DDDDDD;
  color: gray;
}