button:focus {outline:0;}
input:focus {outline:0;}

.input__button {
  height: 100%;
  width: 60px;
  padding: 0; 
  border: none; 
  border-left: 1px solid gray; 
  background-color: gray;
  color: #DDDDDD;
}

